/*1 - Adicione uma lista ordenada dos 3 melhores sites que você conhece.
2 - Crie um arquivo no mesmo diretório e nomeie-o de 'style.css'.
3 - Nesse arquivo .css, adicione os estilos para que:
O texto das tags 'h1' e 'p' estejam centralizados.
A cor de fundo da sua lista mude quando o cursor estiver sobre o item.
A fonte do item mude quando ele for clicado.
4 - Adicione uma lista não ordenada com, pelo menos, 3 características que você gosta.
5 - No 'style.css', adicione a propriedade 'list-style: none' para ambas as listas.
Dica: Nesse link, você irá encontrar a documentação sobre todas as pseudoclasses do CSS.
🚀 Se liga nesse foguete!
Os exercícios destacados com 🚀 são os fundamentais pra você ir bem no projeto! Todos os exercícios vão contribuir com sua formação mas fique de olho nesses! 👀
*/

h1, p,ol, ul {
    text-align: center  ;
    list-style: none;
}

ol li {
    list-style-position: inside;
}

ol li:hover{
    color: aliceblue;
    background-color: black;
 

}

li::selection{
    background-color: aqua;
}